<!DOCTYPE html>
<html ng-app="myForm">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular 表单输入</title>
    <script src="../common/js/angular.min.js"></script>
    <script src="../custom/js/chapter2/form.js"></script>
</head>
<body>
    <form ng-submit="requestFunding()" ng-controller="formController">
        <input type="checkbox" ng-model="funding.type">
        Starting: <input ng-change="computeNeeded()" ng-model="funding.startingEstimate">
        Recommendation: {{funding.needed}}
        <button ng-click="reset()">Reset</button>
        <button>Fund my startUp!</button>
    </form>
</body>
</html>
