<!DOCTYPE html>
<html ng-app="shopping">
<head lang="en">
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <script src="../common/js/angular.min.js"></script>
    <script src="../custom/js/shoppingCart4.js"></script>
</head>
<body ng-controller="CartController">
<h1>Your Shopping Cart</h1>
<div ng-repeat="item in items">
    <span>{{item.title}}</span>
    <input ng-model="item.quantity">
    <span>{{item.price | currency}}</span>
    <span>{{item.price * item.quantity | currency}}</span>
    <button ng-click="remove($index)">Remove</button>
</div>
<div>Total: {{bill.total | number:0 | currency}}</div>
<div>Discount: {{bill.discount | currency}}</div>
<div>Subtotal: {{bill.subtotal | currency}}</div>
</body>
</html>
